<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "Create New Exec Admin", mission_path, class: "list-group-item" %>
                    <%= link_to "Create New Senior Admin", company_history_path, class: "list-group-item" %>
                    <%= link_to "Create New Junior Admin", company_structure_path, class: "list-group-item" %>
                    <%= link_to "Create New Blogger", map_path, class: "list-group-item" %>
                    <%= link_to "Company History", company_history_path, class: "list-group-item" %>
                    <%= link_to "Company Structure", company_structure_path, class: "list-group-item" %>
                    <%= link_to "HHSYC Divisions", map_path, class: "list-group-item" %>
                    
                    <a href="blog-home-1.html" class="list-group-item">Join HHSYC Now</a>
                </div>
            </div>